<div class="video-area">
  <div class="container">
    <video id="video" src="assets/sample2.mp4" poster="" webkit-playsinline playsinline muted autoplay loop></video>
    <div class="row header-title">
    <div class="comment col-12 text-center d-flex align-items-center">
      <p class="mx-auto" id="hoge">
　    ながのCAKEは全国発送可能なケーキ屋さんです。<br>
　    お子様からお年寄りの方までお召し上がりいただけるよう<br>
　    様々なバリエーションをご用意しております。<br>
　    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
　    ぜひご注文ください。
　    </p>
    </div>
    </div>
  </div>
</div>