<h2>注文情報入力</h2>

<%= form_with model: @order, url:orders_confirm_path, method: :post, local: true do |f| %>
　<h3>支払い方法</h3>
　<%= f.radio_button :payment_method, :"クレジットカード", checked: true %>
　  <span>クレジットカード</span>

　<%= f.radio_button :payment_method, :"銀行振込", checked: true %>
　  <span>銀行振り込み</span>


　<h3>お届け先</h3>

<% end %>