<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <div class="col text-center align-middle">
        <h3 class="font-weight-bold">本当に退会しますか？</h3>
        <p>退会すると、会員登録情報や<br>
           これまでの購入履歴が閲覧できなくなります。<br>
           退会する場合は、「退会する」をクリックしてください。</p>
      </div>
    </div>
    <div class="col text-center align-middle">
      <%= link_to "退会しない", customer_path(current_customer), class: "btn btn-primary btn-sm" %>
      <%= link_to "退会する", customers_out_customers_path(current_customer), method: :patch, data: {confirm: "本当に退会してもよろしいですか？"}, class: "btn btn-danger btn-sm" %>
    </div>
  </div>
</div>