<div class="container">
  <h2 class="pege-header m-5 text-center">ジャンル編集</h2>
    <div class="row form-group ">
      <div class="col text-center">
        <tr>
          <%= form_with model: [:admin, @genre], method: :put, local: true do |f| %>
            <th>ジャンル名</th>
            <th><%= f.text_field :name %></th>
            <th><%= f.submit '変更を保存', class: 'btn btn-primary' %></th>
            <th><%= link_to '戻る', admin_genres_path, class: 'btn btn-success' %></th>
          <% end %>
        </tr>
      </div>
    </div>
</div>