<h1>注文履歴一覧</h1>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>購入日時</th>
      <th>購入者</th></th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
  </thead>
  <tbody>
      <tr>
         <% @order_details.each do |order_detail| %>
        <td><%= order_detail.created_at %></td>
        <td><%= order_detail.name %></td>
        <td><%= order_detail.count %></td>
        <td><%= order_detail.status %></td>
      </tr>
  </tbody>
</table>