<div class="container">
 <div class="row mt-5">
   <div class="col-md-6">
    <h5 class="d-inline bg-gray pr-3 pl-3 page-title">商品一覧</h5>
   </div>
 </div>
 
 <div class="row justify-content-center">
  <div class="col-md-10 page-title">
    <%= link_to new_admin_product_path, class: "btn btn- float-right", method: :get do %>
      <i class="fas fa-plus-circle"></i>
    <% end %>
    <%= render 'admin/products/index', products: @products  %>
  </div>
 </div>
  
  <div class="row justify-content-center">
    <div class="col-md-12offset-md-5 pl-5 mt-3">
      <%= paginate @products %>
    </div>
  </div>
 </div>
