<div class="row mt-5">
  <div class="col-md-6">
    <h5 class="d-inline bg-gray pr-3 pl-3 page-title">商品一覧</h5>
  </div>
</div>
<div class="row justify-content-center mt-3">
  <div class="col-md-10 page-title">
      <%= render 'admin/products/index', products: @products  %>

  <div class="row">
    <div class="col-md-4 offset-md-5 pl-5 mt-3">
      <%= paginate @products %>
    </div>
  </div>