.header-title {
  border: 5px solid #fff;
  margin-top: 200px;
  height: 200px;
}
.comment {
  color: #fff;
}

// footer{
//     // position: absolute;/*←絶対位置*/
//     // bottom: 0; /*下に固定*/
//     height: 80px;
//     width: 100%;
//     background-color: #b3976d;
//     margin-top: auto;
// }
// footer p {
//   color: #fff;
// }