/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 
 .application {
  margin: 0;
  padding: 0;
 }
 
 // header
 .logo-navbar {
  height: 80px;
 }
 img.logo-navbar {
  width: 4rem ;
  height: 4rem ;
 }
 .navbar {
  background-color: #412b1c;
 }
 nav {
  height: 80px;
}


// body
main {
 background-color: #e3deda;
 height: 658px;
}
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


// footer
footer {
  margin-top: auto;
}
footer {
  background-color: #b3976d;
  height: 80px;
}
footer p {
 color: #fff;
}
